language: java
branches:
  only:
    - develop
    - master
    - "/release-[0-999].[0-999]$/"
notifications:
  email:
    recipients:
      - sergio.gsanchez97@gmail.com
install:
  - mvn install -Dmaven.javadoc.skipt=true -B -V
script:
  - mvn verify