language: java
branches:
  only:
    - develop
    - master
    - "/release-[0-999].[0-999]$/"
notifications:
  email:
    recipients:
      - sergio.gsanchez97@gmail.com
install:
  - mvn install -Dmaven.javadoc.skipt=true -B -V
  - mvn verify sonar:sonar -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=tronxi -Dsonar.login=$sonar
script:
  - mvn verify